{% extends 'base.html' %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <div class="register-part text-center">
        <h4>Please enter requested data</h4>
        <br>
        <form method="post" novalidate>
            {{ form.hidden_tag() }}

            <div class="container text-center">
                <div class="row">
                  <div class="col">
                    {{ form.name(class='form-control', placeholder='Name') }}
                  </div>

                  <div class="col">
                    {{ form.lastname(class='form-control', placeholder='Lastname') }}
                  </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                      {{ form.email(class='form-control', placeholder='Email') }}
                    </div>
  
                    <div class="col">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Birthdate</span>
                            {{ form.birthdate(class='form-control') }}
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        {{ form.password(class='form-control', placeholder='Password') }}
                    </div>
                    
                    <div class="col">
                        {{ form.password_confirmation(class='form-control', placeholder='Password Confirmation') }}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div>
                        {{ form.is_admin(class='form-check-input') }}
                        <span>
                            <b>Is Admin?</b>
                        </span>
                    </div>  
                </div>
            </div>
            <br>
            <div class="d-grid">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock %}