{% extends 'base.html' %}

{% block title %}
    Tickets
{% endblock %}

{% block content %}
<table class="table table-hover">
    <thead class="text-center">
      <tr>
        <th scope="col">NAME</th>
        <th scope="col">DESCRIPTION</th>
        <th scope="col">START DATE</th>
        <th scope="col">END DATE</th>
        <th scope="col">STATUS</th>
        <th scope="col">DURATION IN DAYS</th>
        <th scope="col">USER</th>
        <th scope="col">ACTIONS</th>
      </tr>
    </thead>
    
    <tbody>
      {% if tickets %}
        {% for ticket, user in tickets %}
        <tr class="text-center align-middle">
          <td>{{ ticket.name }}</td>
          <td class="text-start">{{ ticket.description }}</td>
          <td>{{ ticket.initialdate }}</td>
          <td>{{ ticket.enddate }}</td>
          <td>{{ ticket.status }}</td>
          <td>{{ ticket.duration_in_days }}</td>
          <td>{{ user.username }}</td>
          <td>
            <a class="btn btn-outline" href="{{ url_for('show_ticket_details', ticket_id=ticket.id) }}">MORE INFO</a>
          </td>
        </tr>
        {% endfor %}
      {% else %}
      <tr>
        <td colspan="8" class="text-center no-data-available">No Data Available</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
{% endblock %}