body {
    background-color: #1D5D9B;
}

.login-part {
    margin: 200px auto;
    max-width: 500px;
    background-color: #75C2F6;
    padding: 5%;
}


.register-part {
    background-color: #75C2F6;
    max-width: 700px;
    margin: 150px auto;
    padding: 2%;
}

.navbar {
    background-color: #75C2F6;
}









